<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>811040901579-5f0fer2bb4kopq4v7uf9k2oa8nihcjn7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEhQDmnXo3VFyr_nu1SoCVLkCThYRfLqU</string>
	<key>GCM_SENDER_ID</key>
	<string>811040901579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmFlutterApplication</string>
	<key>PROJECT_ID</key>
	<string>firebase-sportsbook-by-vivarob</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-sportsbook-by-vivarob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811040901579:ios:6e3ae3c3e1a32a1c35ce4e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sportsbook-by-vivarob.firebaseio.com</string>
</dict>
</plist>